.proyectos__titulo {
    font-family: $f-especial;
    font-size: 64px;
}

.proyectos__galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

    .proyectos__card {
        width: 300px;
        margin: 10px 10px 50px 10px;
        box-shadow: 1px 3px 10px #BCB8B140;
        border-radius: 10px;

        .proyectos__card__imagen {
            width: 300px;
            border-radius: 10px;
        }

        .proyectos__card__titulo {
            font-size: 24px;
            margin: 0 5px 5px 5px;
            text-align: center;
        }

        .proyectos__card__detalle {
            margin: 0 8px 10px 8px;
            text-align: center;
            padding-bottom: 10px;
        }
    }
}

footer {
    margin-top: 60px;
}


// EXPERIMENTACIÓN
.proyectos__galeria-e {
    display: flex;
    flex-direction: column;

    .proyectos__card-e {
        width: 700px;
        height: 300px;
        margin: 10px auto 50px auto;
        display: flex;
        flex-direction: row;
        box-shadow: 1px 3px 10px #BCB8B140;
        border-radius: 10px;

        .proyectos__card__imagen-e {
            width: 300px;
            border-radius: 10px;
            margin-right: 50px;
            
        }

        .proyectos__card__titulo-e {
            font-size: 24px;
            text-align: left;
        }

        .proyectos__card__detalle-e {
            text-align: left;
            width: 250px;
        }
    }

    .proyectos__card-ei {
        width: 700px;
        height: 300px;
        margin: 10px auto 50px auto;
        display: flex;
        flex-direction: row-reverse;
        box-shadow: 1px 3px 10px #BCB8B140;
        border-radius: 10px;

        .proyectos__card__imagen-e {
            width: 300px;
            border-radius: 10px;
            margin-left: 50px;
            
        }

        .proyectos__card__titulo-e {
            font-size: 24px;

            text-align: right;
        }

        .proyectos__card__detalle-e {
            width: 250px;
            text-align: right;
        }
    }

}