// INDEX

// iconos
.hero__rrss a img, 
.footer__rrss a img,
.icon-menu{
    width: 30px;
    padding-right: 20px;
}
.hero__flecha{
    width: 30px;   
}
// Imagenes card
.card__img{
    width: 300px;
    border-radius: 10px 10px 0 0;
    filter: sepia(25%);
    
}
.card__img:hover{
    filter: sepia(0%);
    transition: all 1s;
}
// SOBRE MI
.sobre-mi__imagen{
    max-width: 100%;
    border-radius: 10px;
}
.contenida{
    max-width: 100%;
}

@media only screen and (max-width: 1000px) {

    .card__img{
        filter: sepia(00%);
        
    }
}

