.header__logo {
  font-size: 21px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu li {
  padding-top: 20px;
  list-style: none;
  padding-left: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.hero__intro {
  font-family: "David Libre", serif;
  font-size: 72px;
}

.casos__titulo, .metodologia__titulo {
  font-family: "David Libre", serif;
  font-size: 64px;
}

.hero {
  height: 70vh;
  margin-top: 0px;
  padding-top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .hero__intro {
  margin: 0px;
}

.hero .hero__detalle {
  margin: 0;
  max-width: 480px;
}

.hero .hero__rrss {
  margin-top: 3%;
  margin-bottom: 15%;
}

.hero .hero__extras {
  text-align: right;
}

.hero .hero__extras .hero__flecha {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.casos__galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.casos__card {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  -webkit-box-shadow: 1px 3px 10px #BCB8B140;
          box-shadow: 1px 3px 10px #BCB8B140;
  border-radius: 10px;
}

.casos__card .card__titulo {
  font-size: 24px;
  margin: 0   5px   5px   5px;
  text-align: center;
}

.casos__card .card__detalle {
  margin: 0   6px   10px     6px;
  text-align: center;
}

.casos__card .card__boton {
  text-align: center;
  background-color: #BCB8B1;
  border-radius: 20px;
  padding: 10px 0 10px 0;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #F4F3EE;
}

.casos__card .card__boton:hover {
  background-color: #8A817C;
}

.cta__proyectos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.cta__proyectos .cta__boton {
  background-color: #8A817C;
  padding: 10px 100px 10px 100px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 500;
  color: #F4F3EE;
}

.cta__proyectos .cta__boton:hover {
  background-color: #463F3A;
}

.metodologia {
  padding-top: 100px;
  padding-bottom: 150px;
}

.metodologia .metodologia__titulo {
  margin: 0px;
}

.metodologia .metodologia__detalle {
  max-width: 600px;
}

.metodologia .botonPiola {
  color: #E0AFA0;
}

.metodologia .botonPiola:hover {
  color: #BCB8B1;
}

@media only screen and (max-width: 1000px) {
  body {
    width: 100%;
    margin: 0;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  header .header__logo {
    display: block;
    text-align: center;
  }
  header .menu {
    width: 100%;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .menu li {
    text-align: center;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 16px;
  }
  header .menu li a {
    color: #E0AFA0;
  }
  .hero {
    margin-left: 5%;
    margin-right: 2%;
    height: 65vh;
  }
  .hero .hero__intro {
    font-size: 48px;
  }
  .hero .hero__detalle {
    font-size: 18px;
    line-height: 1.5;
    max-width: 400px;
  }
  .casos__titulo, .metodologia__titulo {
    font-family: "David Libre", serif;
    font-size: 42px;
  }
  .casos {
    margin-left: 5%;
    margin-right: 2%;
  }
  .metodologia {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    line-height: 1.5;
  }
  footer {
    margin-left: 5%;
    margin-bottom: 30px;
  }
  .casos__galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .casos__card {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    -webkit-box-shadow: 1px 3px 10px #BCB8B140;
            box-shadow: 1px 3px 10px #BCB8B140;
    border-radius: 10px;
  }
  .casos__card .card__img {
    width: 100%;
  }
  .casos__card .card__titulo {
    font-size: 24px;
    margin: 0   5px   5px   5px;
    text-align: center;
  }
  .casos__card .card__detalle {
    margin: 0   6px   10px     6px;
    text-align: center;
  }
  .casos__card .card__boton {
    text-align: center;
    background-color: #BCB8B1;
    border-radius: 20px;
    padding: 10px 0 10px 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: #F4F3EE;
  }
  .casos__card .card__boton:hover {
    background-color: #8A817C;
  }
}

.hero__rrss a img,
.footer__rrss a img,
.icon-menu {
  width: 30px;
  padding-right: 20px;
}

.hero__flecha {
  width: 30px;
}

.card__img {
  width: 300px;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 2px 1px 2px #BCB8B130;
          box-shadow: 2px 1px 2px #BCB8B130;
}

.sobre-mi__imagen {
  max-width: 100%;
}

.contenida {
  max-width: 100%;
}

.proyectos__titulo {
  font-family: "David Libre", serif;
  font-size: 64px;
}

.proyectos__galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proyectos__galeria .proyectos__card {
  width: 300px;
  margin: 10px 10px 50px 10px;
  -webkit-box-shadow: 1px 3px 10px #BCB8B140;
          box-shadow: 1px 3px 10px #BCB8B140;
  border-radius: 10px;
}

.proyectos__galeria .proyectos__card .proyectos__card__imagen {
  width: 300px;
  border-radius: 10px;
}

.proyectos__galeria .proyectos__card .proyectos__card__titulo {
  font-size: 24px;
  margin: 0 5px 5px 5px;
  text-align: center;
}

.proyectos__galeria .proyectos__card .proyectos__card__detalle {
  margin: 0 8px 10px 8px;
  text-align: center;
  padding-bottom: 10px;
}

footer {
  margin-top: 60px;
}

.proyectos__galeria-e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.proyectos__galeria-e .proyectos__card-e {
  width: 700px;
  height: 300px;
  margin: 10px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 1px 3px 10px #BCB8B140;
          box-shadow: 1px 3px 10px #BCB8B140;
  border-radius: 10px;
}

.proyectos__galeria-e .proyectos__card-e .proyectos__card__imagen-e {
  width: 300px;
  border-radius: 10px;
  margin-right: 50px;
}

.proyectos__galeria-e .proyectos__card-e .proyectos__card__titulo-e {
  font-size: 24px;
  text-align: left;
}

.proyectos__galeria-e .proyectos__card-e .proyectos__card__detalle-e {
  text-align: left;
  width: 250px;
}

.proyectos__galeria-e .proyectos__card-ei {
  width: 700px;
  height: 300px;
  margin: 10px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-shadow: 1px 3px 10px #BCB8B140;
          box-shadow: 1px 3px 10px #BCB8B140;
  border-radius: 10px;
}

.proyectos__galeria-e .proyectos__card-ei .proyectos__card__imagen-e {
  width: 300px;
  border-radius: 10px;
  margin-left: 50px;
}

.proyectos__galeria-e .proyectos__card-ei .proyectos__card__titulo-e {
  font-size: 24px;
  text-align: right;
}

.proyectos__galeria-e .proyectos__card-ei .proyectos__card__detalle-e {
  width: 250px;
  text-align: right;
}

@media only screen and (max-width: 1000px) {
  .proyectos__titulo {
    margin-left: 5%;
    font-family: "David Libre", serif;
    font-size: 42px;
  }
  .proyectos__galeria-e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proyectos__galeria-e .proyectos__card-e {
    width: 300px;
    height: auto;
    margin: 10px auto 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proyectos__galeria-e .proyectos__card-e .proyectos__card__imagen-e {
    margin-right: 0px;
  }
  .proyectos__galeria-e .proyectos__card-e .proyectos__card__titulo-e {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  .proyectos__galeria-e .proyectos__card-e .proyectos__card__detalle-e {
    text-align: center;
    width: 250px;
    margin: 10px auto 20px auto;
  }
  .proyectos__galeria-e .proyectos__card-ei {
    width: 300px;
    height: auto;
    margin: 10px auto 35px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .proyectos__galeria-e .proyectos__card-ei .proyectos__card__imagen-e {
    margin-left: 0px;
  }
  .proyectos__galeria-e .proyectos__card-ei .proyectos__card__titulo-e {
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  .proyectos__galeria-e .proyectos__card-ei .proyectos__card__detalle-e {
    width: 250px;
    text-align: center;
    margin: 5px auto 20px auto;
  }
}

.bloque-inicial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
}

.bloque-inicial .sobre-mi__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bloque-inicial .celda__imagen {
  width: 450px;
  padding-right: 40px;
}

.bloque-inicial .sobre-mi__titulo {
  font-family: "David Libre", serif;
  font-size: 64px;
  margin: 0px;
}

.bloque-inicial .sobre-mi__detalles {
  max-width: 400px;
}

.sobre-mi__conversemos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.sobre-mi__conversemos .conversemos__titulo {
  width: 450px;
  text-align: end;
}

.sobre-mi__conversemos .conversemos__titulo h5 {
  font-family: "David Libre", serif;
  font-size: 36px;
  font-weight: 700;
}

.sobre-mi__conversemos .conversemos__boton {
  width: 470px;
  margin: auto 0 auto 0;
}

.sobre-mi__conversemos .conversemos__boton a {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #8A817C;
  color: #F4F3EE;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.sobre-mi__conversemos .conversemos__boton a:hover {
  background-color: #463F3A;
}

.sobre-mi__tambien-en {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.sobre-mi__tambien-en .tambien-en__titulo {
  width: 450px;
  text-align: end;
}

.sobre-mi__tambien-en .tambien-en__titulo h5 {
  font-family: "David Libre", serif;
  font-size: 36px;
  font-weight: 700;
}

.sobre-mi__tambien-en .tambien-en__botones {
  width: 470px;
  margin: 70px 0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sobre-mi__tambien-en .tambien-en__botones .tambien-en__boton {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #BCB8B1;
  color: #F4F3EE;
  border-radius: 20px;
  margin: 0 200px 10px 0px;
  padding: 8px 40px 8px 40px;
}

.sobre-mi__tambien-en .tambien-en__botones .tambien-en__boton:hover {
  background-color: #8A817C;
}

@media only screen and (max-width: 1000px) {
  body {
    width: 100vw;
  }
  .bloque-inicial {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .bloque-inicial .sobre-mi__contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bloque-inicial .celda__imagen {
    width: 450px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .bloque-inicial .sobre-mi__titulo {
    font-family: "David Libre", serif;
    font-size: 42px;
    margin: 10px auto 0px auto;
  }
  .bloque-inicial .sobre-mi__detalles {
    max-width: 90%;
    font-size: 18px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
  }
  .sobre-mi__conversemos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .sobre-mi__conversemos .conversemos__titulo {
    width: 100%;
    text-align: center;
    line-height: 0.5;
  }
  .sobre-mi__conversemos .conversemos__boton {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
  }
  .sobre-mi__conversemos .conversemos__boton a {
    background-color: #463F3A;
  }
  .sobre-mi__tambien-en {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 20px 0 0 0;
    padding: 0;
  }
  .sobre-mi__tambien-en .tambien-en__titulo {
    line-height: 0.5;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .sobre-mi__tambien-en .tambien-en__botones {
    width: 100%;
    margin: 0;
  }
  .sobre-mi__tambien-en .tambien-en__botones .tambien-en__boton {
    margin: 5px auto 5px auto;
    background-color: #8A817C;
    width: 200px;
    padding: 10px 30px 10px 30px;
  }
}

.caso__titulo {
  font-family: "David Libre", serif;
  font-size: 48px;
  margin: 30px 0 0 0;
  text-align: center;
}

.caso__ficha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 80px 0 50px 0;
}

.caso__ficha .resumen__imagen {
  max-width: 48%;
}

.caso__ficha .resumen__imagen .contenida {
  border-radius: 10px;
}

.caso__ficha .caso__resumen {
  max-width: 48%;
}

.caso__ficha .caso__resumen .resumen__titulo {
  font-size: 24px;
  line-height: 0.5;
  margin: 0;
}

.caso__ficha .caso__resumen .resumen__contenido {
  max-width: 90%;
  font-size: 18px;
}

.caso__desarrollo p {
  font-size: 18px;
  width: 80%;
  margin: 30px auto 30px auto;
}

.caso__desarrollo h4 {
  font-size: 28px;
  text-align: center;
  margin: 100px auto 20px auto;
}

.caso__desarrollo .caso__ilu {
  text-align: center;
}

.caso__desarrollo .caso__ilu .contenida {
  max-width: 400px;
}

.caso__desarrollo blockquote {
  font-weight: 600;
  font-size: 18px;
  max-width: 58%;
  margin: 40px auto 40px auto;
}

.caso__desarrollo .caso__img__medio {
  text-align: center;
}

.caso__desarrollo .caso__img__medio .contenida {
  max-width: 500px;
  border-radius: 10px;
}

.caso__desarrollo .caso__diagrama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caso__desarrollo .caso__diagrama .contenida {
  max-width: 500px;
  border-radius: 10px;
}

.caso__desarrollo .caso__diagrama__grande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caso__desarrollo .caso__diagrama__grande .contenida {
  max-width: 800px;
  border-radius: 10px;
}

.caso__desarrollo .bloque-2imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.caso__desarrollo .bloque-2imagenes .contenida {
  max-width: 48%;
  border-radius: 10px;
}

.caso__desarrollo .caso__2diagrama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.caso__desarrollo .caso__2diagrama .contenida {
  max-width: 500px;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.caso__desarrollo .bloque-3imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.caso__desarrollo .bloque-3imagenes .contenida {
  max-width: 90%;
  border-radius: 10px;
}

.caso__desarrollo .gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.caso__desarrollo .gifs .caso__gif .contenida {
  max-width: 300px;
}

.caso__desarrollo .caso__img__grande .contenida {
  border-radius: 10px;
}

body {
  color: #463F3A;
  background-color: #F4F3EE;
  max-width: 960px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #463F3A;
}
/*# sourceMappingURL=estilos.css.map */